# SPDX-FileCopyrightText: 2026 Nikolay Govorov
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# Add new entries in alphabetical order

Nikolay Govorov <me@govorov.online>
Nikolay Govorov <mr@dimidiumlabs.io>
